<?xml version="1.0" encoding="utf-8" ?>

<WebPartExtend>
  <ExtendedPart
  parentPartFullName="UFIDA.U9.CBO.Customer.CustomerItemUIModel.CustomerItemMainUIFormWebPart" extendedPartFullName="UFIDA.U9.Cust.GS.FT.PlugInUI.CustomerItemUIExtend"  extendedPartAssemblyName="UFIDA.U9.Cust.GS.FT.PlugInUI.dll">
  </ExtendedPart>

  <ExtendedPart
  parentPartFullName="UFIDA.U9.SCM.SM.SOUIModel.StandardSOMainUIFormWebPart" extendedPartFullName="UFIDA.U9.Cust.GS.FT.PlugInUI.SOPlugUIExtend"  extendedPartAssemblyName="UFIDA.U9.Cust.GS.FT.PlugInUI.dll">
  </ExtendedPart>

  <ExtendedPart
  parentPartFullName="ItemUIModel.ItemMainUIFormWebPart" extendedPartFullName="UFIDA.U9.Cust.GS.FT.PlugInUI.ItemSubTableUIExtend"  extendedPartAssemblyName="UFIDA.U9.Cust.GS.FT.PlugInUI.dll">
  </ExtendedPart>

</WebPartExtend>
